<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"]</title>

    @await Html.PartialAsync("_ApplicationStylesPartial")

    <!-- JS Core -->

    <script type="text/javascript" src="~/assets/js-core/jquery-core.min.js"></script>
    <script type="text/javascript" src="~/assets/js-core/jquery-ui-core.min.js"></script>

    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $('#loading').fadeOut(400, "linear");
            }, 300);
        });
    </script>

    <style type="text/css">
        html, body { height: 100%; }
        body {
            overflow: hidden;
            background: #fff;
        }
    </style>

</head>
<body>
    <div id="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
  
    <img src="~/assets/image-resources/blurred-bg/blurred-bg-4.jpg" class="login-img wow fadeIn" alt="">
    <div class="center-vertical">
        @RenderBody()
    </div>

</body>
</html>

<!-- Fullpage.js -->
<script type="text/javascript" src="~/assets/widgets/fullpage/fullpage.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#fullpage').fullpage({
            anchors: ['firstPage'],
            autoScrolling: false,
            css3: true
        });
    });
</script>