@using System.Threading.Tasks
@using Lumle.Data.Models;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-controller="Dashboard" asp-action="Index">
            Dashboard
            <i class="glyph-icon "></i>
        </a>
    </li>
    <li>
        <a href="#" title="@UserManager.GetUserName(User)">Hello @UserManager.GetUserName(User)!</a>
    </li>

}
else 
{
    <li>
        <a asp-controller="Account" asp-action="Login">
            Login
            <i class="glyph-icon "></i>
        </a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="Register">
            Register
            <i class="glyph-icon "></i>
        </a>
    </li>
}
