@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer[LabelConstants.SystemUnderMaintenanceMode];
}

<div class="center-vertical">
    <div class="center-content row">
        <div class="col-md-6 center-margin">
            <div class="server-message wow bounceInDown inverse">
                <h1 style="margin-top:10%;">@Localizer[LabelConstants.SystemUnderMaintenanceMode]</h1>
                <p>@Localizer[LabelConstants.SystemUnderMaintenanceModeMessage]</p>
            </div>
        </div>
    </div>
</div>
