@{
    ViewData["Title"] = Localizer[LabelConstants.LoginFailure];
}

<header>
    <h2>@ViewData["Title"].</h2>
    <p class="text-danger">@Localizer[LabelConstants.UnsuccessfulLoginWithService]</p>
</header>
