@using Lumle.Module.Core.ViewModels.AccountViewModels
@model ResetPasswordVM
@{
    ViewData["Title"] = @Localizer[LabelConstants.ResetPassword];
}

@section styles{
    <style type="text/css">
        .parsley-errors-list li {
            color:red;
        }
    </style>
}

    <div id="fullpage">
        <div class="section bg-gradient-9" id="section0">
            <div class="slide">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="container">
                            <div class="col-md-4 center-margin">
                                <form asp-controller="Account" asp-action="ResetPassword" method="post" data-parsley-validate novalidate>
                                    <div class="content-box wow bounceInDown modal-content">
                                        <h3 class="content-box-header content-box-header-alt bg-default">
                                            <span class="icon-separator">
                                                <i class="glyph-icon icon-cog"></i>
                                            </span>
                                            <span class="header-wrapper">
                                               @Localizer[LabelConstants.ResetPassword]
                                            </span>
                                        </h3>
                                        @Html.Partial("_MessagePanel")
                                        <input asp-for="Code" type="hidden" />
                                        <input asp-for="UserId" type="hidden" />
                                        <div class="content-box-wrapper">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input asp-for="Password" class="form-control" required data-parsley-required-message="This value is required." data-parsley-pattern="^(?=(.*\d){1})(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z\d]).{6,50}$" data-parsley-pattern-message="Password must be 6 to 50 in length and must contains atleast one lower, upper,numeric and special character." placeholder=@Localizer[LabelConstants.NewPassword] />
                                                    <span class="input-group-addon bg-blue">
                                                        <i class="glyph-icon icon-unlock-alt"></i>
                                                    </span>
                                                </div>
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input asp-for="ConfirmPassword" data-parsley-equalto="#Password" class="form-control" required placeholder=@Localizer[LabelConstants.ConfirmPassword] />
                                                    <span class="input-group-addon bg-blue">
                                                        <i class="glyph-icon icon-unlock-alt"></i>
                                                    </span>
                                                </div>
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success btn-block">@Localizer[LabelConstants.Reset]</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script type="text/javascript" src="~/assets/widgets/parsley/parsley.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('form').parsley();

            });
        </script>
    }
