@{
    ViewData["Title"] = Localizer[LabelConstants.ForgotPasswordConfirmation];
}

<div id="fullpage">
    <div class="section bg-gradient-9" id="section0">
        <div class="slide">
            <div class="center-vertical">
                <div class="center-content">
                    <div class="container">
                        <div class="col-md-4 center-margin">
                            <div class="alert alert-success">
                                <div class="bg-green alert-icon">
                                    <i class="glyph-icon icon-check"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">@Localizer[LabelConstants.ResetPasswordEmailSent]</h4>
                                    <p>
                                        @Localizer[LabelConstants.PleaseCheckYourEmailToResetPassword]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                        
