@using Lumle.Module.Core.ViewModels.AccountViewModels
@model ForgotPasswordVM
@{
    ViewData["Title"] = Localizer[LabelConstants.ForgotPassword];
}


<div id="fullpage">
    <div class="section bg-gradient-9" id="section0">
        <div class="slide">
            <div class="center-vertical">
                <div class="center-content">
                    <div class="container">
                        <div class="col-md-4 center-margin">
                            @*<div asp-validation-summary="All" class="text-danger col-md-12"></div>*@
                            <form asp-controller="Account" asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" data-parsley-validate novalidate>
                                <div class="content-box wow bounceInDown modal-content">
                                    <h3 class="content-box-header content-box-header-alt bg-default">
                                        <span class="icon-separator">
                                            <i class="glyph-icon font-gray icon-envelope-o"></i>
                                        </span>
                                        <span class="header-wrapper">
                                            @Localizer[LabelConstants.EnterEmailToResetPassword]
                                        </span>
                                    </h3>
                                    <div class="content-box-wrapper">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" asp-for="Email" required class="form-control " placeholder=@Localizer[LabelConstants.EnterYourEmail]>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-block">@Localizer[LabelConstants.Submit]</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/assets/widgets/parsley/parsley.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').parsley();
        });
    </script>
}
