@using Lumle.Module.Core.ViewModels.ManageViewModels
@model ChangePasswordVM
@{
    ViewData["Title"] = "Change Password";
    Layout = "_Layout";
}

@section styles{
    <style type="text/css">
        .parsley-errors-list li { color: red; }
    </style>
}

<div class="breadcrumb-section clearfix">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li class="active">Change Password</li>
    </ol>
</div>

@Html.Partial("_MessagePanel")

<div class="panel">
    <h3 class="title-hero title-setting"> Change Password </h3>
    <div class="panel-body custom-panel">
        <div class="example-box-wrapper">
            <form asp-action="ChangePassword" id="mainForm" method="post" class="form-horizontal bordered-row" data-parsley-validate novalidate>
                <div class="row">
                    <div class="col-md-12 main-section">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Old Password <span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                <input asp-for="OldPassword" type="password" class="form-control" required>
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">New Password <span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                <input asp-for="NewPassword" type="password" class="form-control" required>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group form-section">
                            <label class="col-sm-3 control-label">Confirm Password <span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                <input asp-for="ConfirmPassword" type="password" class="form-control" required>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group form-section">
                            <div class="col-sm-9">
                                <div class="pull-right">
                                    <a class="btn btn-default btn-cancel btn-sm" href="~/dashboard">Cancel</a>
                                    <button type="submit" class="btn btn-success custom-btn btn-sm">Save Changes</button>
                                    <img id="loadingImg" style="width: 30px; display:none;" src="~/assets/images/spinner/loader-dark.gif" alt="loading image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/assets/widgets/parsley/parsley.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mainForm').on('submit', function () {
                var form = $(this);
                form.parsley().validate();
                var isValidForm = form.parsley().isValid();
                if (isValidForm) {
                    form.find('button[type=submit]').prop('disabled', true);
                    $("#loadingImg").show();
                    form.get(0).submit();
                }
                return false;
            });

        });
    </script>
}






