@{
    ViewData["Title"] = "Home Page";
}
<div id="fullpage">
    <div class="section bg-gradient-9" id="section0">
        <div class="slide">
            <div class="center-vertical">
                <div class="center-content">
                    <div class="container">
                        <div class="hero-box font-inverse">
                            <h2 class="hero-heading wow fadeInDown" data-wow-duration="0.6s">The Perfect Base CMS for Enterprise application</h2>
                            <p class="pad25T mrg25B hero-text wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.2s"> Lumle is the CMS developted by EKbana Solution Pte. It's the base CMS for any enterprise web application develoment in .NET platform.</p>
                            <div class="pad25T">
                                <button class="mrg5R btn btn-alt btn-hover btn-lg btn-outline-inverse remove-bg">
                                    <span>Support</span>
                                    <i class="glyph-icon icon-arrow-right"></i>
                                </button>
                                <button class="btn btn-alt btn-hover btn-lg btn-outline-inverse remove-bg">
                                    <span>Documentation</span>
                                    <i class="glyph-icon icon-bar-chart-o"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="scroller-icon">
                <div class="glyph-icon icon-angle-down font-white"></div>
            </div>
        </div>
    </div>
</div>
