@using Lumle.Data.Models
@model User

<li>
    <a asp-controller="Dashboard" asp-action="Index"> Dashboard <i class="glyph-icon "></i></a>
</li>
<li>
    <a href="#" title="Username">Hello @Model.UserName!</a>
</li>