@using Lumle.Module.Authorization.ViewModels.PermissionViewModels
@model PermissionVM

@{
    ViewData["Title"] = "Edit Permission";
}

<div class="breadcrumb-section clearfix">
    <ol class="breadcrumb">
        <li class="module">Authorization</li>
        <li><a asp-action="Index" asp-controller="Permission">Permissions</a></li>
        <li class="active">Edit Permission</li>
    </ol>
</div>

@Html.Partial("_MessagePanel")

<div class="panel">
    <h3 class="title-hero title-setting"> Edit Permission </h3>
    <div class="panel-body custom-panel">
        <div class="example-box-wrapper">
            <form id="mainForm" class="form-horizontal bordered-row" asp-action="EditPermission" method="post" data-parsley-validate novalidate>
                <div class="row">
                    <div class="col-md-12 main-section">
                        @Html.HiddenFor(x => x.Id)

                        <div class="form-group" style="border-top: 0;">
                            <label class="col-sm-3 control-label">Slug <span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                <input asp-for="Slug" type="text" required class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-section">
                            <label class="col-sm-3 control-label">Display Name <span class="text-danger">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" asp-for="DisplayName" required class="form-control" id="">
                            </div>
                        </div>

                        <div class="form-group form-section">
                            <div class="col-sm-9">
                                <div class="pull-right">
                                    <a class="btn btn-default btn-cancel btn-sm" asp-action="Index">Cancel</a>
                                    <button type="submit" class="btn btn-success custom-btn btn-sm">Save Changes</button>
                                    <img id="loadingImg" style="width: 30px; display:none;" src="~/assets/images/spinner/loader-dark.gif" alt="loading image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/assets/widgets/parsley/parsley.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#mainForm').on('submit', function () {
                var form = $(this);
                form.parsley().validate();
                var isValidForm = form.parsley().isValid();
                if (isValidForm) {
                    form.find('button[type=submit]').prop('disabled', true);
                    $("#loadingImg").show();
                    form.get(0).submit();
                }
                return false;
            });
        });
    </script>
}