@{
    ViewData["Title"] = $"400 {Localizer[LabelConstants.Error].Value}";
}

<div class="center-content row">
    <div class="col-md-6 center-margin">
        <div class="server-message wow bounceInDown inverse">
            <h1>@ViewData["Title"]</h1>
            <h2>@Localizer[LabelConstants.BadRequestPleaseCheckYourRequest]</h2>
            <p>@Localizer[LabelConstants.ForMoreInformationPleaseContactYourAdmin]</p>
        </div>
    </div>
</div>