@{
    ViewData["Title"] = $"500 {Localizer[LabelConstants.Error].Value}";
}

<div class="center-content row">
    <div class="col-md-6 center-margin">
        <div class="server-message wow bounceInDown inverse">
            <h1>Error 500</h1>
            <h2>The server encountered a syntax error and could not complete your request.</h2>
            <p>Try again in a few minutes or contact the website administrator.</p>
        </div>
    </div>
</div>
