@{
    ViewData["Title"] = $"404 {Localizer[LabelConstants.Error].Value}";
}

<div class="center-content row">
    <div class="col-md-6 center-margin">
        <div class="server-message wow bounceInDown inverse">
            <h1>@ViewData["Title"]</h1>
            <h2>@Localizer[LabelConstants.PageNotFound]</h2>
            <p>@Localizer[LabelConstants.ThePageYouAreLookingForHasBeenMovedOrNoLongerExists]</p>
            <br/>
            <a class="btn btn-lg btn-success" href="~/">@Localizer[LabelConstants.TakeMeHome]</a>
        </div>
    </div>
</div>