@using Lumle.Module.Authorization.ViewModels.PermissionViewModels
@model List<PermissionVM>

@{   
    var updateAction = ViewBag.UpdateAction;

    ViewData["Title"] = "Permission";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/assets/widgets/datatable/datatable.css">
}

<div class="row">
    <div id="page-title">
        <h2 class="display-inline">Permissions</h2>
    </div>
    <div class="breadcrumb-section clearfix">
        <ol class="breadcrumb">
            <li class="module">Authorization</li>
            <li class="active">Permissions</li>
        </ol>
    </div>

    @Html.Partial("_MessagePanel")

    <div class="panel">
        <div class="panel-body">
            <div class="dataTable">
                <table id="permissionTable" class="table">
                    <thead>
                        <tr>
                            <th>Slug</th>
                            <th>Display Name</th>
                            @if (updateAction)
                            {
                                <th>Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody>

                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@Model[i].Slug</td>
                                <td>@Model[i].DisplayName</td>
                                @if (updateAction)
                                {
                                    <td>
                                        <a id="editPermission" href="~/authorization/permission/edit/@Model[i].Id"
                                           class="btn btn-info btn-xs">
                                            <i class="glyph-icon icon-pencil"></i> Edit
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable.min.js"></script>
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable-bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable-responsive.min.js"></script>
    <script src="~/authorization/js/authorization-permission-index.js" asp-append-version="true"></script>
}