<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="InternalLogs\internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!-- define various log targets -->
  <targets>

    <target name="database" xsi:type="Database" >
      <connectionString>
        <!--Data Source=DESKTOP-APAPHS0\SQLEXPRESS01;Database=lumle;Trusted_Connection=True;MultipleActiveResultSets=true;-->
        Server=tcp:lumledb-server.database.windows.net,1433;Initial Catalog=lumledb;Persist Security Info=False;User ID=lumledb-user;Password=lumle@9090;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;
      </connectionString>

        <commandText>
          insert into "Audit_CustomLog" (
          "Level", "RequestMethod", "Message",
          "Username", "Url", "RemoteAddress",
          "UserAgent", "CallSite", "Exception", "LoggedDate", "CreatedDate", "LastUpdated"
          ) values (
          @Level, @RequestMethod, @Message, @Username,
          @Url, @RemoteAddress,
          @UserAgent, @Callsite, @Exception, @LoggedDate, @CreatedDate, @LastUpdated
          );
        </commandText>
        
        <parameter name="@level" layout="${level}" />
        <parameter name="@requestMethod" layout="${aspnet-Request-Method}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@username" layout="${gdc:UserEmail}" />       
        <parameter name="@url" layout="${aspnet-Request-Url}" />
        <parameter name="@remoteAddress" layout="${gdc:IPAddress}" />
        <parameter name="@userAgent" layout="${gdc:BrowserName}" />
        <parameter name="@callSite" layout="${callsite} " />
        <parameter name="@exception" layout="${exception}" />
        <parameter name="@loggedDate" layout="${date}" />
        <parameter name="@createdDate" layout="${date}" />
        <parameter name="@lastUpdated" layout="${date}" />
      </target>
    </targets>

  <rules>

    <logger name="*" minlevel="Info" writeTo="database">
      <filters>
        <when condition="starts-with('${message}','CustomLog:')" action="Log" />    
        
        <!--<when condition="level==LogLevel.Warn or level==LogLevel.Info" action="Ignore" />-->
        <!--<when condition="equals(logger, 'Microsoft.AspNetCore.Hosting.Internal.WebHost')" action="Ignore" />-->
        <!--<when condition="starts-with(logger, 'Hangfire')" action="Ignore" />-->
        <when condition="starts-with(logger, 'Microsoft')" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>